<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1 class="my-4 text-center">ジャンル一覧</h1>
    <% @genres.each do |genre| %>
      <p><%= genre.name %></p>
    <% end %>
  </div>
</div>
  <%= link_to "戻る", :back %>  |
  <%= link_to "一覧", books_path %>
