<div class="row">
  <%= render partial: "genres/search_genre", locals: { genres: @genres } %>
  <div class="col-md-7 offset-md-1">
    <h1 class="my-4 text-center">全BOOK一覧</h1>
    <%= render partial: "books/book", locals: { books: @books } %>
    <%= paginate @books %>
  </div>
</div>
