<div class="row">
  <%= render partial: "genres/search_genre", locals: { genres: @genres } %>
  <div class="col-md-7 offset-md-1">
    <h1 class="my-4 text-center">User 一覧</h1>
    <table>
      <tr>
        <th>User名</th>
        <th>User写真</th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <th><%= user.name %></th>
          <th>
            <%= link_to user_path(user) do %>
              <%= image_tag user.get_profile_image %>
            <% end %>
          </th>
        </tr>
      <% end %>
    </table>
  </div>
</div>
