<div class="row">
  <%= render partial: "genres/search_genre", locals: { genres: @genres } %>
  <div class="col-md-7 offset-md-1">
    <h1 class="my-4 text-center">
      <% if @genre.present? %>
        <%= @genre.name %>の投稿一覧
      <% else %>
        BOOK 一覧
      <% end %>
    </h1>
    <%= render partial: "books/book", locals: { books: @books } %>
  </div>
  <%= paginate @books %>
</div>
