<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="my-3 text-center">新規投稿</h1>
      <% if @book.errors.any? %>
        <%= @book.errors.count %>件のエラーが発生しました
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= render partial: "form", locals: { book: @book } %>
    </div>
  </div>
</div>