<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="my-4 text-center">全User 一覧</h1>
      <ul>
        <% @users.each do |user| %>
          <li>
            <%= user.name %> - <%= user.email %>
            <%= link_to '削除', admin_user_dashboards_path(user), method: :delete, data: { confirm: '本当に削除しますか？' } %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>