<h1>BOOKs_fan</h1>

<h3>サイト概要</h3>
サイトテーマ:読んだ本のタイトル・内容を共有し、他の人にも興味を持ってもらうことができるレビューサイト<br/>
​
テーマを選んだ理由:
私の趣味は読書です。特に紙ベースで読む方が読んでいる感触があり、好きです。月に2-3冊の本を読みます。
しかし読んだだけでは記憶には残らず、いつも読む本のジャンルも偏ってしまいます。<br>
そのため、私は読んだ本のアウトプットをする機会を作りたいと思いました。
また他の人が読んだ本を共有していただくことで私自身もその本を知る・買うきっかけになるのではないかと考えました。
最終的には、社会の経済を回すきっかけになれば良いです。<br>
上記の理由より、今回このテーマで、ポートフォリオを製作したいと考えました。
​
ターゲットユーザ:
本が好きな人<br>
読んだ本を忘れてしまう前に記録に残したい人<br>
自書を売りたい人<br>
こんな本読みたいと探している人<br>
​
主な利用シーン:
本を読み終わった後に内容をメモしたい時<br>
読んだ本を思い出したい時<br>
他のジャンルの本を読みたいと思った時<br>
​
設計書:
後ほど作成予定
​
開発環境:
- OS：Linux(CentOS)
- 言語：HTML,CSS,JavaScript,Ruby,SQL
- フレームワーク：Ruby on Rails
- JSライブラリ：jQuery
- IDE：Cloud9
​
使用素材:
実装機能リスト：https://docs.google.com/spreadsheets/d/1vXSIAsiXt8LzrG4PNr0QuKfrPFztUnBRj8ItTTp8Mso/edit?usp=sharing
著作権を考慮し、架空のデータ・著作権フリーのデータを扱う予定です。
なお今後、実在するデータを利用する際には、事前に著作権保持者と契約を結んだ上で利用します。
