<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h4 class="my-4 text-center">本好きのための本を共有するアプリケーション</h4>
        <h6 class=" text-center">自分の好きな本を、他の人に紹介をしよう！<br />
          今まで出会わなかった本に出会う機会かも？</h6>
    </div>
  </div>
</div>