<div class="row">
  <%= render partial: "layouts/search_genre", locals: { genres: @genres } %>
  <div class="col-md-7 offset-md-1">
    <h2 class="my-3 text-center">検索結果</h2>
    <table class="table table-hover table-inverse">
      <% if @range == "User" %>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.name, user_path(user)  %></td>
            </tr>
          <% end %>
        </tbody>
      <% else %>
        <tbody>
          <%= render partial: "books/book", locals: { books: @books } %>
        </tbody>
      <% end %>
    </table>
    <div class="my-2">  <%= link_to "戻る", :back %></div>
  </div>
</div>
